<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Site da Loja Xester{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
    <div id="sidebar" class="jumbotron">
        {% block sidebar %}
        <h1>Loja Xester</h1>
        <h2>A quinta melhor loja Online do Mundo!</h2>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
