{% extends "ecommerce/base.html" %}

{% block title %}Carrinho{% endblock %}

{% block content %}
<h1>Seu Carrinho ... {{usuario.nome}}</h1>

{% for item in carrinho.itens.all %}
 <div class="container">
  <div class="col-md-8">
  <h5>
  Produto: {{ item.produto.nome }}  
  ------------ 
  Qtd: {{ item.quantidade }}
  <p align="right">
  {{ item.produto.preco }}
  </p>
 </h5>
  </div>

            <div class="col-md-3">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="us_id" value={{ usuario.id }}>
                <input type="hidden" name="itemProduto_id" value={{ item.id }}>
                <input type="submit" value="Remover do carrinho">
            </form>
            </div>
</div>
{% endfor %}

<div class="container">
  <div class="col-md-4">
  <form action="/ecommerce/home/" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="us_id" value={{ usuario.id }}>
                  <input type="submit" value="Continuar Compras">
   </form>
  </div>

  <div class="col-md-4">
  <form action="/ecommerce/home/payment/" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="tot" value={{ total }}>
                  <input type="hidden" name="car_id" value={{ carrinho.id }}>
                  <input type="hidden" name="us_id" value={{ usuario.id }}>
                  <input type="submit" value="Finalizar Compras">
              </form>
  </div>

  <div class="col-md-4">
  Total : {{ carrinho.precoTotal }}
  {% if not carrinho.itens.all %}
     Carrinho vazio
  {% endif %}
  </div>
</div>
{% endblock %}
