{% extends "ecommerce/base.html" %}

{% block title %}Payment{% endblock %}

{% block content %}
<h1>Compra Realizada!</h1>
<h2>Pedido N {{pedido.id}}</h2>
<h3 class="col-md-2">Data: </h3> 
<h4 class="col-md-4">------------  {{pedido.data}}</h4>
<h3 class="col-md-2">Status: </h3>
<h4 class="col-md-4">------------ {{pedido.status}}</h4>
<br><br>
<h2>Itens do seu pedido:</h2>
{% for item in carrinho.itens.all %}
<div class="container">
  <div class="col-md-8">
        <h5>
        Produto: {{ item.produto.nome }}  
        ------------ 
        Qtd: {{ item.quantidade }}
        <p align="right">
        {{ item.produto.preco }}
        </p>
    </h5>
  </div>
</div>
{% endfor %}

<div class="jumbotron">
    Valor Total a pagar: {{ carrinho.precoTotal }}
    <br>
    Será entregue no endereco: {{carrinho.usuario.endereco}}
    <br>
    <form action="/ecommerce/home/" method="post">
                {% csrf_token %}               
                <input type="hidden" name="us_id" value={{ carrinho.usuario.id }}>
                <input type="submit" value="Voltar a tela Inicial">
    </form>
</div>



{% endblock %}
